body {
  background-color: rgb(9, 9, 27);
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 100px;
  margin-bottom: 0px;
}

.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px; /* This line adds round corners */
  border-bottom: 2px solid #333;
  background-color: #282828;
  color: #fff;
  font-size: 16px;
  transition: border-bottom 0.3s ease;
}

.text-input:focus {
  outline: none;
  border-bottom: 2px solid rgb(39, 120, 190);
}

button {
  background-color: #282828;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px; /* This line adds round corners */
  transition: background-color 0.3s ease;
}
 
button:hover {
 background-color: rgb(39, 120, 190);
}

button:disabled {
  background-color: rgb(39, 120, 190); /* Darker gray for disabled state */
  cursor: default; /* Changes the cursor to indicate the button is not clickable */
 }

.submit-button-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 95vh;
}

.form-card {
  display: flex;
  width: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 2px solid;
  border-radius: 8px;
  border-color: white;
}

.form-card h1 {
  margin-bottom: 60px;
}

.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.leaderboards-container {
  margin: auto;
  text-align: center;
}

.nav-computer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 20px;
}

.nav-phone {
  display: none;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.title-container h1 {
  margin-top: 50px;
}

hr {
  width: 95%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  hr {
    width: 80%;
  }

  form {
    width: 85%;
  }

  .form-card {
    border: none;
  }

  .nav-computer {
    display: none;
  }

  .nav-phone {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .nav-phone a {
    font-size: 30px;
  }
}